body {
    background-color: #95AFCD;
}

div {
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #EADCD6;
    border-radius: 7px;
    color: #4E2F1F;
    width: 1000px;
    height: 300px;
    position: absolute;
     left: 400px;
}

