body {
    background-color: #95AFCD;
}

p {
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 20px;
    text-align: center;
     padding: 2px;
     border: 2px solid #EADCD6;
    border-radius: 7px;
    color: #4E2F1F;
}

